
@{
    ViewData["Title"] = "Danh sách hóa đơn";
}
    <link href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
<div class="row wrapper border-bottom white-bg">
    <div class="col-lg-10">
        <h2>Danh sách hóa đơn</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row search">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <div style="display:flex">
                        <div class="form-group d-flex mr-2 data_1">
                            <label class="font-normal" style="width:100px">Từ ngày</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control datepicker" id="fromDate">
                            </div>
                        </div>
                        <div class="form-group d-flex data_1">
                            <label class="font-normal" style="width:100px">Đến ngày</label>
                            <div class="input-group date">
            
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control datepicker" id="toDate">
                            </div>
                        </div>
                        <button class="btn btn-sm btn-primary m-t-n-xs ml-1" style="height:40px" id="reload">Tìm</button>
                    </div>

                </div>
                <div class="ibox-content">

                    <table class="table" id="grdInvoice">
                        <thead>
                            <tr>
                                <th format="Date" fieldName="InvoiceDate">Ngày hóa đơn</th>
                                <th fieldName="FullName">Tên nhân viên</th>
                                <th fieldName="UserCode">Mã nhân viên</th>
                                <th fieldName="TableNumber">Bàn</th>
                                <th format="Money" fieldName="TotalAmount">Tổng tiền</th>
                                <th format="Action"></th>
                            </tr>
                        </thead>
                        <tbody st>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <span>Trang</span>
                                    <input type="number" value="1" style="width:50px" id="pageNumber" />
                                    <span>Trên </span>
                                    <span id="totalPage"></span>
                                    <span style="margin-left:20px">/Tổng</span>
                                    <span id="totalRow"></span>
                                    <span>hóa đơn</span>
                                </td>
                                <td colspan="5" class="footable-visible">
                                    <ul class="pagination float-right">
                                        <li class="footable-page-arrow"><a data-page="first" href="#" id="firstPage">«</a></li>
                                        <li class="footable-page-arrow"><a data-page="prev" href="#" id="prevPage">‹</a></li>
                                        
                                        <li class="footable-page-arrow"><a data-page="next" href="#" id="nextPage">›</a></li>
                                        <li class="footable-page-arrow"><a data-page="last" href="#" id="lastPage">»</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
    @*Form hóa đơn*@
    <div id="invoice-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="m-t-none m-b">Lập hóa đơn</h3>
                            <form role="form">
                                <div class="form-group d-flex"><label style="width:150px">Ngày hóa đơn:</label> <input type="text" fieldName="InvoiceDate" class="form-control" style="border:none;border-bottom:1px dotted #c0c0c0"></div>
                                <div id="invoiceDetail"></div>

                                <div class="form-group d-flex"><label style="width:150px">Tổng tiền:</label> <input type="text" fieldName="TotalAmount" class="form-control" style="border:none;border-bottom:1px dotted #c0c0c0"></div>
                                <div>
                                    <a class="btn btn-sm btn-danger float-right m-t-n-xs ml-1 closeBtn" data-dismiss="modal"><strong>Đóng</strong></a>
                                    @*<label> <input type="checkbox" class="i-checks"> Remember me </label>*@
                                </div>
                            </form>
                        </div>
                        @*<div class="col-sm-6">
                                <h4>Not a member?</h4>
                                <p>You can create an account:</p>
                                <p class="text-center">
                                    <a href=""><i class="fa fa-sign-in big-icon"></i></a>
                                </p>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {

}


@section Scripts {

    <script src="~/Scripts/libraries/jquery-3.4.1.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/Scripts/base/base.js"></script>
    <script src="~/Scripts/common/common.js"></script>
    <script src="~/Scripts/base/ajax.js"></script>
    <script type="text/javascript">
    var oInvoices = @Json.Serialize(ViewBag.InvoiceList);
    var oUsers = @Json.Serialize(ViewBag.UserList);
    </script>
    <script src="~/Scripts/views/Invoice/InvoiceList.js"></script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                $('.data_1 .input-group.date').datepicker({
                    //todayBtn: "linked",
                    //keyboardNavigation: false,
                    //forceParse: false,
                    //calendarWeeks: true,
                    autoclose: true
                });
            })
        </script>*@
}
