@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ruscoffee</h1>
    @*<img alt="image" class="rounded-circle" src="~/Images/profile_small.jpg" />*@
    <div style="display:flex;justify-content:center;margin-top:50px;">
        <img src="~/images/header2.jpg" width="900" height="300" style="border-radius:50%;"/>
    </div>
</div>
